<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bot4Univ</title>
  <!-- Lien Google fonts pour l'icône -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded&display=swap" />
  <link rel="stylesheet" href="/stactic/css/chatbot.css">
</head>

<body>
  <button id="chatbot-toggler">
    <span class="material-symbols-rounded">mode_comment</span>
    <span class="material-symbols-rounded">close</span>
  </button>

  <div class="chat-container">
    <!-- Le header du chatbot -->
    <div class="chat-header"> 
      <div class="header-info"> 
        <!-- Logo du chatbot -->
        <img src="/stactic/img/logo.jpg" alt="Logo B4U" class="chatbot-logo">
        <h2 class="logo-text">Bot4Univ</h2>
      </div>
        <!-- Icône flèche vers le bas -->
        <button id="close-chatbot" class="material-symbols-rounded">expand_more</button>
    </div>

    <!-- Le body du chatbot -->
    <div class="chat-body"> 
      <div class="message bot-message"> 
        <img src="/stactic/img/logo.jpg" alt="Logo B4U" class="logo-img" class="bot-avatar">
        <div class="message-text"> 
          Salut 👋. <br> Comment pourrais-je vous aider ??
        </div>
      </div>
    
    </div>
    
    <!-- Le footer du chatbot -->
    <div class="chat-footer"> 
      <form action="#" class="chat-form">
        <textarea placeholder="message..." class="message-input" required></textarea>
        <div class="chat-controls">
           <button type="button" id="emoji-picker " class="material-symbols-outlined">sentiment_satisfied</button> 
           <button type="submit" id="send-message" class="material-symbols-rounded">arrow_upward</button>
        </div>
      </form>
    </div>
  </div>

  <!--lien vers emoji Mart pour les emojis-->
  <script src="https://cdn.jsdelivr.net/npm/emoji-mart@latest/dist/browser.js"></script>

  <!-- Lien vers la page javascript -->
  <script src="/stactic/js/chatbot.js"></script>
</body>
</html>
